.upcoming-movies {
  background-color: #ff9999;
  text-align: center;
  padding: 8px;
  font-size: 1rem;
}

.released {
  display: flex;
}

.releasedMovies {
  width: 76vw;
  margin: 16px;
}

.filters {
  width: 24vw;
  margin: 30px 0px 0px 0px;
}

#imagelist:hover {
  background-color: black;
  opacity: 0.4;
  cursor: pointer;
}

#filterHeading {
  color: darkblue;
}

#applyBtn {
  margin-top: 30px;
}
