.header {
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
}

.svg-color {
  background-color: #ff7f7f;

  animation-duration: 8s;
  animation-name: svg-rotation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}

@keyframes svg-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
